@media (max-width: 1280px) 
{
    .main-box
    {
        width: 80%;
    }
    .intro h1
    {
        font-size: 3.5rem;
    }
}

@media (max-width: 1024px)
{
    .navbar
    {
        height: auto;
        padding: 1rem auto;
    }

    .navbar a 
    {
        padding: 1rem;
        font-size: 2rem;
    }
}

/* Small screens */
@media (max-width: 768px)
{
    .main-box
    {
        width: 85%;
        padding: 2.5rem;
        margin: 3rem auto;
    }

    .navbar
    {
        height: auto;
        padding: 1rem auto;
    }

    .navbar ul
    {
        gap: 1.5rem;
    }

    .navbar a 
    {
        padding: 1rem;
        font-size: 1.6rem;
    }
}

/* Tiny screens */
@media (max-width: 530px)
{
    .main-box
    {
        width: 92%;
        padding: 2rem 1.5rem;
        margin: 1.5rem auto;
        border-radius: 12px;
    }

    .navbar
    {
        width: 95%;
        top: 0.5rem;
        border-radius: 10px;
    }

    .navbar ul
    {
        gap: 0.5rem;
    }

    .navbar a 
    {
        padding: 0.6rem 0.8rem;
        font-size: 1.3rem;
    }

    .intro h1
    {
        font-size: 2.8rem;
    }

    .title-prep h2, 
    .title-ingredients h2,
    .title-instructions h2,
    .NutritionDetails h2{
        font-size: 2.2rem;
    }

    .list-prep ul,
    .list-ingredients ul,
    .list-instructions ol{
        padding-left: 2rem;
    }

    .list-ingredients li,
    .list-instructions li{
        padding-left: 0.5rem;
        font-size: 1.4rem;
    }
    
    .caloriegrid
    {
        padding: 1rem 0rem;
    }
}

/* Even tiny screens */
@media (max-width: 405px)
{
    .main-box
    {
        border-radius: 20px;
    }
    .intro h1
    {
        font-size: 2.2rem;
    }

    .navbar a 
    {
        padding: 0.6rem 0.8rem;
        font-size: 1rem;
    }

    .navbar ul
    {
        gap: 0.8rem;
    }
}